[Unit]
Description=Minecraft Bedrock Server
After=cloud-final.service

[Service]
ExecStart=/usr/games/minecraft-start
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=90

[Install]
WantedBy=cloud-init.target
